*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content:space-between;
    padding:30px;
    background-color:transparent;
    .img1{
        width:100px;
        height: 80px;

    }
    .navs{
      display: flex;
      ul{
        text-decoration: none;
        display: flex;
        text-align: center;
        align-items: center;
        
      
        li{
            list-style:none;
            padding:30px;
            button{
                
                padding:16px 16px;
                border-radius:20px 20px;
                background-color:lightblue;
               
                .buna{
                    width:20px;
                    height:20px;
                    
                }
                
            }

           
        }
      }
    }
}